.inventory {
  padding: .25em;
  margin: .25em;
  border: 1px solid green;
  border-radius: .25em; }

.clover {
  height: 5em;
  width: 5em;
  display: inline-block;
  position: relative;
  margin: .25em;
  border: 1px solid transparent;
  border-radius: .25em; }
  .clover.selected {
    border-color: green; }
  .clover .leaf {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover; }
    .clover .leaf.empty {
      background-image: url(../images/clover0g.png); }
    .clover .leaf.one-a {
      background-image: url(../images/clover8g.png); }
    .clover .leaf.one-b {
      background-image: url(../images/clover7g.png); }
    .clover .leaf.two-a {
      background-image: url(../images/clover5g.png); }
    .clover .leaf.two-b {
      background-image: url(../images/clover6g.png); }
    .clover .leaf.three-a {
      background-image: url(../images/clover2g.png); }
    .clover .leaf.three-b {
      background-image: url(../images/clover1g.png); }
    .clover .leaf.four {
      background-image: url(../images/clover9g.png); }
  .clover.gene1 .leaf.one-a {
    background-image: url(../images/clover8y.png); }
  .clover.gene2 .leaf.one-b {
    background-image: url(../images/clover7y.png); }
  .clover.gene3 .leaf.two-a {
    background-image: url(../images/clover5y.png); }
  .clover.gene4 .leaf.two-b {
    background-image: url(../images/clover6y.png); }
  .clover.gene5 .leaf.three-a {
    background-image: url(../images/clover2y.png); }
  .clover.gene6 .leaf.three-b {
    background-image: url(../images/clover1y.png); }
  .clover.gene7 .leaf.four {
    background-image: url(../images/clover9y.png); }
  .clover.gene1.gene2.gene3.gene4.gene5.gene6.gene7 .leaf.four {
    background-image: url(../images/clover34y.png); }

.breeder {
  margin: .25em;
  padding: .25em;
  border: 1px solid green;
  border-radius: .25em;
  display: inline-block; }
  .breeder .progress {
    margin-bottom: 0;
    height: 10px; }
    .breeder .progress .progress-bar {
      background-image: -webkit-linear-gradient(top, #40c440 0, #379a37 100%);
      background-image: -o-linear-gradient(top, #40c440 0, #379a37 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#40c440), to(#379a37));
      background-image: linear-gradient(to bottom, #40c440 0, #379a37 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff40C440', endColorstr='#ff379a37', GradientType=0);
      transition: width .1s ease; }
